[Unit]
Description=fabio Master Agent
Requires=network-online.target
After=network-online.target

[Service]
Environment="no_proxy=$no_proxy"
Restart=on-failure
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=fabio
User=root
Group=root
ExecStart={{ fabiolb.bin_dir }}/fabio -cfg {{ fabiolb.config_dir }}/fabio.properties

[Install]
WantedBy=multi-user.target
